.footer {
  background-color: var(--primario);
  color: var(--quarto);
  text-align: center;
  padding: 0.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.social-icons {
  margin-top: 0.5rem;
}

.social-icons a {
  margin: 0 0.5rem;
  color: var(--quarto);
  text-decoration: none;
}

.social-icons a:hover {
  color: var(--secundario);
}

@media (max-width: 768px) {
  .social-icons {
    margin-top: 1rem;
  }
  .footer {
    margin-top: 6rem;
    padding: 2rem;
    position: relative;
  }
}