@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --primario: #8346C9;
  --secundario: #6B3AA6;
  --terceiro: #422365;
  --quarto: #000000;
  --fundo: #e8edf5;
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



